.button {
  --text: var(--gray-2);
  --hover: var(--white);
  --bg: var(--gray-8);

  @media (prefers-color-scheme: light) {
    --text: var(--white, #fff);
    --hover: var(--gray-8);
    --bg: var(--gray-8, #fff);
    --bg-hover: var(--white, #fff);
  }

  border: none;
  outline: none;

  font-weight: 500;
  font-size: calc(var(--fz) * 0.875);
  line-height: 150%;
  color: var(--text);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 20px;

  background-color: var(--bg);
  border-radius: 24px;

  cursor: pointer;

  transition-property: color, background-color;
  transition-timing-function: var(--animation-effect, ease-in-out);
  transition-duration: var(--animation-duration, 0.3s);

  &:hover {
    color: var(--hover, #fff);
    background-color: var(--bg-hover);
  }
}
