.footer {
  margin-top: 64px;
  background-color: var(--gray-10);
  .wrapper {
    border-top: 1px solid var(--gray-7);
    padding: 24px;

    .socials {
      gap: 32px;

      a {
        font-size: var(--fz);
        color: #fff;
      }
    }
  }
}
