.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  .card {
    --bg: #1f1f1f;
    --border: #2c2c2c;
    --title: #fff;
    --text: #999999;

    @media (prefers-color-scheme: light) {
      --bg: var(--gray-0);
      --border: var(--gray-3);
      --title: var(--gray-9);
      --text: var(--gray-6);
    }

    padding: 24px 24px 32px 24px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 6px;
    color: var(--title);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__stars {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      font-size: 12px;

      svg path:last-child {
        fill: var(--yellow, rgb(246, 205, 93));
      }
    }

    &__year {
      font-weight: 500;
      font-size: calc(var(--fz) * 0.75);
      line-height: 15px;
      color: #f57ad0;
      margin-bottom: 2px;
    }

    &__title {
      font-weight: 700;
      font-size: calc(var(--fz) * 1.125);
      line-height: 22px;
      margin-bottom: 8px;
    }

    &__text {
      font-size: calc(var(--fz) * 0.875);
      line-height: 17px;
      color: var(--text);
      margin-bottom: 16px;
    }

    .tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;

      .tag {
        --bg: #252525;
        --border: var(--gray-6);

        @media (prefers-color-scheme: light) {
          --bg: var(--gray-05);
          --border: var(--gray-3);
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        gap: 10px;
        background-color: var(--bg);
        border-radius: 8px;
        border: 1px solid var(--border);
        color: var(--title);
        font-size: calc(var(--fz) * 0.75);
      }
    }
  }
}
