.welcome {
  --heading: #fff;
  --text: #e6e6e6;

  @media (prefers-color-scheme: light) {
    --heading: #252525;
    --text: #2c2c2c;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
  }

  .circles {
    display: grid;
  }

  .text-block {
    color: var(--heading);

    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .text {
    font-weight: 500;
    font-size: calc(var(--fz) * 1.5);
    color: var(--text);

    display: flex;
    flex-direction: column;
    gap: calc(var(--fz) / 2);
  }

  .heading {
    font-weight: 700;
    font-size: calc(var(--fz) * 4);
  }
}
