*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inter: "Inter", sans-serif;
  --fz: 16px;
  --line-height: 1.75;

  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ddd;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #666;
  --gray-65: #555;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;

  --container-width: 1060px;
  --container-offset: 30px;

  --body-bg: #181818;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg: #eee;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --fz: 14px;
  }
}

body {
  font-size: var(--fz);
  font-family: var(--inter);
  line-height: var(--line-height);
  background-color: var(--body-bg);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: calc(var(--container-width) + calc(var(--container-offset) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.section {
  margin-top: 64px;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: calc(var(--fz) * 2);

    --title: #ffffff;

    @media (prefers-color-scheme: light) {
      --title: var(--gray-8);
    }

    &__title {
      font-weight: 700;
      font-size: calc(var(--fz) * 2);
      color: var(--title);
    }
  }
}
